<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<array>
		<dict>
			<key>skip-autosync</key>
			<string>YES</string>
			<key>server-name</key>
			<string>StaplesDSA__DSA_User_Event__c</string>
			<key>name</key>
			<string>DSA_User_Event__c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Playlist_Content_Junction__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__Playlist_Content_Junction__c</string>
			<key>dependencies</key>
			<string>*DSA_Playlist__c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DSA_Playlist__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__DSA_Playlist__c</string>
			<key>filter</key>
			<string>OwnerId = //current_user// OR StaplesDSA__IsFeatured__c = true</string>
			<key>dependencies</key>
			<string>*EntitySubscription</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Task</string>
			<key>skip-autosync</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>post-sync-link</key>
			<true/>
			<key>only-list</key>
			<string>Id,ContentDocumentId,DistributionPublicUrl,Name,Password,ContentVersionId</string>
			<key>name</key>
			<string>ContentDistribution</string>
		</dict>
		<dict>
			<key>name</key>
			<string>User</string>
			<key>only-list</key>
			<string>Id,LastModifiedDate,CreatedDate,Username,Name,FirstName,LastName,Email,UserPermissionsSFContentUser</string>
			<key>post-sync-link</key>
			<true/>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>extra-device</key>
			<array>
				<dict>
					<key>name</key>
					<string>UserProfileId</string>
					<key>type</key>
					<string>string</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>MobileAppConfig__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__MobileAppConfig__c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Category__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__Category__c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CategoryMobileConfig__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__CategoryMobileConfig__c</string>
			<key>filter</key>
			<string>StaplesDSA__IsDraft__c &lt;&gt; true</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cat_Content_Junction__c</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>dependencies</key>
			<string>*Category__c,*MobileAppConfig__c</string>
			<key>server-name</key>
			<string>StaplesDSA__Cat_Content_Junction__c</string>
			<key>extra-device</key>
			<array>
				<dict>
					<key>name</key>
					<string>StaplesDSA__Internal_Document__c</string>
					<key>type</key>
					<string>boolean</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>only-list</key>
			<string>Id</string>
			<key>name</key>
			<string>ContentDocument</string>
			<key>filter</key>
			<string>PublishStatus = &apos;R&apos;</string>
		</dict>
		<dict>
			<key>only-list</key>
			<string>Id,ContentDocumentId,LastModifiedDate,CreatedDate,Description,Title,PathOnClient,ContentUrl,FeaturedContentBoost,TagCsv,ContentModifiedDate,ContentSize,VersionNumber,StaplesDSA__Document_Type__c,StaplesDSA_Category__c,VersionData,StaplesDSA__Internal_Document__c,StaplesDSA__Available_Offline__c,PublishStatus,IsLatest,FileType</string>
			<key>name</key>
			<string>ContentVersion</string>
			<key>always-check-ids-with-server</key>
			<true/>
			<key>filter</key>
			<string>(IsLatest = true AND StaplesDSA__Available_Offline__c = true) AND PublishStatus = &apos;P&apos;</string>
			<key>dependencies</key>
			<string>*Category__c,*MobileAppConfig__c,*User,*Cat_Content_Junction__c,*Playlist_Content_Junction__c</string>
		</dict>
		<dict>
			<key>only-list</key>
			<string>Id,LastModifiedDate,Name,FirstName,LastName,Email,AccountId,OwnerId,Phone</string>
			<key>extra-query</key>
			<string>Account.Name</string>
			<key>name</key>
			<string>Contact</string>
			<key>filter</key>
			<string>OwnerId = //current_user// AND Active__c = &apos;Yes&apos;</string>
			<key>post-sync-link</key>
			<false/>
			<key>indexed</key>
			<string>LastName,FirstName,hasEmail</string>
			<key>extra-device</key>
			<array>
				<dict>
					<key>name</key>
					<string>hasEmail</string>
					<key>type</key>
					<string>boolean</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Account</string>
			<key>only-list</key>
			<string>Id,Name,AccountNumber,Status__c</string>
			<key>filter</key>
			<string>OwnerId = //current_user//</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lead</string>
			<key>only-list</key>
			<string>Id,Name,Company,Status,FirstName,LastName,Company,Email</string>
			<key>filter</key>
			<string>OwnerId = //current_user//</string>
		</dict>
		<dict>
			<key>dependencies</key>
			<string>*MobileAppConfig__c,*CategoryMobileConfig__c,*Category__c</string>
			<key>only-list</key>
			<string>Id,Body,Name,ContentType,CreatedDate,ParentId</string>
			<key>name</key>
			<string>Attachment</string>
			<key>filter</key>
			<string>ContentType like &apos;image/%%&apos;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ContentReview__c</string>
			<key>skip-autosync</key>
			<true/>
			<key>server-name</key>
			<string>StaplesDSA__ContentReview__c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Event</string>
			<key>skip-autosync</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>EntitySubscription</string>
			<key>filter</key>
			<string>SubscriberId = //current_user// AND ParentId IN (Select Id FROM StaplesDSA__DSA_Playlist__c)</string>
			<key>fetch-limit</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>RecordType</string>
		</dict>
	</array>
	<key>unused</key>
	<array>
		<dict>
			<key>name</key>
			<string>RecordType</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Product2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Asset</string>
		</dict>
	</array>
</dict>
</plist>
